<div class="sidebar-nav">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<f:if condition="{f:cObject(typoscriptObjectPath:'lib.navigation.main')}">
				<button type="button" class="navbar-toggle navbar-toggle-menu" data-toggle="collapse"
						data-target=".navbar-collapse">
					<span class="glyphicon glyphicon-list"></span>
					<span class="sr-only">Toggle navigation</span>
				</button>
			</f:if>
			<span class="visible-xs navbar-brand">Menu</span>
		</div>
		<div class="navbar-collapse collapse">
			<f:cObject typoscriptObjectPath="lib.navigation.main"/>
		</div>
	</div>
</div>
